

<h1> Hookup an Octopus with a new Item! </h1>

<%= form_for @octo_item do |f| %>
    <h3>Octopus</h3>
    <%= f.collection_select(:octopus_id, @octopi, :id, :name) %>
    <h3>Item</h3>
    <%= f.collection_select(:item_id, @items, :id, :name) %>
    <%= f.submit %>
<% end %>